<p id="notice"><%= notice %></p>

<p>
  <strong>Names:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email Address:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit User', edit_user_path(@user) %> |
<%= link_to 'Go Back', users_path %>
